In [26]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [27]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [28]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [29]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [30]:
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])
# columns

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [31]:
engine.execute('SELECT * FROM measurement LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

In [71]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

#session.query(Measurement.date).\
 #   filter(Measurement.date >'2010-05-31').\
  #  order_by(Measurement.date).all()

date_str = "06"
results=session.query(Measurement.date, Measurement.tobs).\
    filter(func.strftime("%m",Measurement.date)==date_str).\
    order_by(Measurement.date).all()

#print(results)

In [97]:
#  3. Convert the June temperatures to a list.
#june_dates=[result[0] for result in results]
#june_temps=[int(result[1]) for result in results]
#print(type(june_dates))

june_temps=list(results)

#print(june_temps)

In [105]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 

june_df = pd.DataFrame(june_temps, columns=['date', 'June temp'])

#june_df.set_index('date', inplace=True)

In [99]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

         June temp
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [80]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
date_str = "12"
dec_results = session.query(Measurement.date, Measurement.tobs).\
    filter(func.strftime("%m",Measurement.date)==date_str).\
    order_by(Measurement.date).all()

In [100]:
# 7. Convert the December temperatures to a list.
#dec_dates=[result[0] for result in dec_results]
#dec_temps=[int(result[1]) for result in dec_results]

dec_temps=list(dec_results)

#print(dec_temps)

In [103]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_temps, columns=['date', 'Dec temp'])

#dec_temps_df.set_index('date', inplace=True)

In [104]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

          Dec temp
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000